#maincontainer {
    margin: 0;
    min-height: 100vh;
    font-family: var(--default-font-family);
    font-size: var(--font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient( in oklch,var(--color-gray-50, var(--color-gray-100)));
    position: relative;
}


