.task-card {
    padding: calc(var(--spacing) * 4);
    border-style: var(--border-style);
    border-width: 1px;
    border-radius: var(--radius);
    border-color: var(--border);
    gap:calc(var(--spacing) * 3);
    align-items: center;
    display: flex;
    margin-bottom: calc(var(--spacing) * 8);
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --gradient-from, --gradient-via, --gradient-to;
    transition-timing-function: var(--ease, var(--default-transition-timing-function));
    transition-duration: var(--duration, var(--default-transition-duration));
}

.task-card:hover {
    background-color: var(--color-gray-50);
}

.task-content {
    flex: 1;
    min-width: var(--spacing);
}

svg {
    color: var(--color-gray-400);
    flex-shrink: 0;
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
}

.task-title {
    font-size: var(--text-lg);
    line-height: var(--text-sm--line-height);
    font-weight: var(--font-weight-semibold);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.task-due-date {
    color: var(--color-gray-500);
    font-size: var(--text-base);
    line-height: var(--text-sm--line-height);
}
/*Css is my weakness, for real*//*Delete this before submitting*/