.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    color: var(--foreground);
    border-radius: calc(var(--spacing) + 8px);
    border-style: var(--border-style);
    border-width: 1px;
    border-color: var(--border);
    gap:calc(var(--spacing) * 6);
    padding: calc(var(--spacing) * 8);
    min-height: var(--card-height);
    margin-bottom: calc(var(--spacing) * 2);
    
}

.variant-colourcard {
   border: none;
}

.variant-chatcard {
     margin-bottom: calc(var(--spacing) * 5);
     
}

.variant-chat-graycard {
    background-color: transparent;
     margin-bottom: calc(var(--spacing) * 5);
     border: none;
     padding: 0;
}

.variant-ai-post {
    background-color: var(--color-purple-50);
}