.content-container {
    padding-bottom: calc(var(--spacing) * 6);
    padding-inline: calc(var(--spacing) * 6);
}

.inner-container {
    gap:calc(var(--spacing) * 2);
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}